.AddButton {
  width: 30px;
  height: 30px;
  padding: 10px;
  position: relative;
}
.AddButton::before,
.AddButton::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}

.AddButton::before {
  height: 60%;
  width: 1px;
}
.AddButton::after {
  width: 60%;
  height: 1px;
}
