.EditCoinsListItem {
  display: flex;
  height: 54px;
  width: 100%;
  align-items: center;
  cursor: pointer;
}
.EditCoinsListItem__symbol {
  width: 50px;
  margin-right: 40px;
  text-align: center;
  font-size: 0.8em;
}

.EditCoinsListItem__name {
  color: #6a7485;
}

.EditCoinsListItem__button {
  margin-bottom: -2px;
  margin-left: auto;
  /* padding-right: 10px; */
}

.EditCoinsListItem__mark {
  background: #00a6fb;
}
