.CoinsListItem {
  display: flex;
  height: 54px;
  width: 100%;
  align-items: center;
  cursor: pointer;
}
.CoinsListItem__symbol {
  width: 50px;
  margin-right: 40px;
  text-align: center;
  font-size: 0.8em;
}

.CoinsListItem__name {
  color: #6a7485;
}

.CoinsListItem__button {
  margin-bottom: -7px;
  margin-left: auto;
  padding-right: 10px;
}

.CoinsListItem__mark {
  background: #00a6fb;
}
