.NavBar {
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #29323c;
  z-index: 100;
}

.NavBar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
