/* .EditCoins {
  padding-top: 88px;
  position: relative;
}

.SearchBar-container {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  background: #242730;
  z-index: 10;
} */

.EditCoins .SearchBar {
  margin-top: -3px;
  margin-bottom: 3px;
}
